$wd: 445px;
$bgcolor: #3A8B6E;

$color1: #2bdcb1;
$color2: #33cba6;
$color3: #7fc2b7;
$color4: #F7D6DE;
$color5: #CF7D56;
$color6: #d4b677;

$fgcolor: #E0F3D3;

body {
  margin: 0 auto;
  background-color: $bgcolor;
  color: $fgcolor;
  a{
    color: $color4;
    text-decoration: none;
  }
  a:hover {
    color: $color5;
  }

  .content {
    width: 70%;
    margin: 0 auto;
    @media(max-width: $wd){
      width: 95%;
    }
  }
  header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    @media(max-width: $wd) {
      h1 {
        border-top: solid $color1;
        border-bottom: solid $color1;
      }
    }
    @media(min-width: $wd) {
      h1 {
        border-right: solid $color1;
        padding-right: .5em;
      }
    }
    h1 {
      margin-top: .5em;
      margin-bottom: .5em;
      font-family: 'Merriweather', serif;
    }
    .nav {
      display: flex;
      flex-flow: row wrap;


      ul {
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto;
        padding: 0;


        li {
          list-style: none;
          font-size: 20px;
          font-family: 'Oswald', sans-serif;
          margin-left: .5em;
        }

        @media(min-width: $wd) {
          li {

            margin-top: .5em;
            margin-bottom: .5em;
            margin-left: .5em;
          }
        }

      }
    }

  }

}